/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Header ***********/

.header {
    display: flex;
    justify-content: space-between;
}

.header_logo {
    width: 161.09px;
    height: 79px;
    padding: 30px 50px 0 0;
}

.header_logo img {
    width: 61.09px;
    height: 19px;
    top: 30px;
    left: 50px;
  
}

.header_links{
    display: flex;
    justify-content: space-between;
    padding: 0px 25px 0px 25px;
    gap: 68px;
    
}


.header_links .active {
    color: #0065FC;
    text-decoration-line: overline;
    text-decoration-color: #0065FC;

}



/****** Informations ***********/

.searchbar {
    display: flex;
}

.fa-map-marker-alt{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    border: 1px;
}

#site-search {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: black;
    border: 1px;
    border-color: #F2F2F2;
}

.searchbar button {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    padding: 15px 16px 15px 16px;
    font-size: 18px;
    font-weight: 700;
}

.filters {
    display: flex;
}

.filters span{
    padding: 4px 19px 4px 19px;
    font-weight: 700;
}

.filters_list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.filters_list li {
    padding: 0 10px;
}

.filters_list li button{
    padding: 4px 19px 4px 19px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white;
}

.filters_list li button:hover {
    background-color: #DEEBFF;
}



.infobar {
    height: 24px;
}

.infobar .fa-info-circle{
    color: white;
    background-color: #0065FC;
    border: 1px;
    border-color: #D9D9D9;
    padding-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin: 40px 0 40px 0;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 240.33px;
  
}

.hebergements-cards img {
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.show_more_hebergements {
    font-size: 22px;
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.Activites-marseille{
    padding: 30px 0 30px 30px;
}

.activites-cards {
    display: flex;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.activites-cards .card {
    height: 439px;
    width: 297.5px;
    padding: 0;
}

.activites-cards .card img{
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.activites-cards .card-content{
    padding-left: 15px;
}

/****** Footer ***********/

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}

.footer_column {
    list-style-type: none;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_column h3 {
    margin : 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}